.container-details {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  padding: 0 20px;
}

.card-details {
  display: flex;
  width: 600px;
  height: auto;
  background-color: #9b4085;
  border-radius: 10px;
  box-shadow: 4px 5px 30px 4px rgba(0, 0, 0, 0.2);
}

.header-details img {
  height: 150px;
  width: 150px;
  border: 15px solid #2f2969;
  border-radius: 50%;
}

.header-details,
.description-details {
  padding: 30px;
  text-align: left;
}

.description-details h2 {
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 1rem;
}

.description-details h4 {
  font-size: 16px;
  margin-top: -5px;
  color: #ffffff;
}

.description-details p {
  font-size: 14px;
  margin-top: 20px;
  color: #ffffff;
}

/* Responsive design */
@media (max-width: 640px) {
  .card-details {
    display: block;
    width: 300px;
  }

  .description-details h2 {
    margin-top: -35px;
  }

  .card-details .header-details,
  .description-details {
    text-align: center;
  }

  .social-details a {
    display: block;
    text-align: center;
  }
}
